@using SocialPlatform.Models
@model Group
@using System.Data.Entity
@using Microsoft.AspNet.Identity;

@{
    var db = new ApplicationDbContext();
    var user = db.Users.Find(User.Identity.GetUserId());
    var ownerId = (Model != null) ? Model.User.Id : null;
}

@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.Message</h1>

<div style="display: flex; justify-content: space-between;">
    <h3>My Groups</h3>

    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
       href="/Groups/New">
        Create new group
    </a>
</div>

<br />

<div class="container my-groups-container">
    @if (Model != null)
    {
    @Html.Partial("GroupCard", Model);
        <br />
        <br />
    }
</div>

<script>
    $('.container').infiniteScroll({
        path: function () {
            var page = this.loadCount + 1
            return '/Groups/My?frommaybe=' + page;
        },
        append: '.container-item',
        status: '.page-load-status',
        prefill: true,
        debug: true,
        history: false,
        scrollThreshold: 2000,
        elementScroll: '.mdl-layout__content',
    });
</script>

