@model SocialPlatform.Models.Group
@using Microsoft.AspNet.Identity

<div >
    @{ 
        ViewBag.dontShowViewGroup = true;
    }
    
    <br />
    @Html.Partial("GroupCard", Model)
</div>

<div class="mdl-tabs mdl-js-tabs">
    <div class="mdl-tabs__tab-bar">
        <a href="#posts-tab" class="mdl-tabs__tab is-active">Posts</a>
        <a href="#members-tab" class="mdl-tabs__tab">Members</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="posts-tab">
        @foreach (var post in Model.Wall.Posts)
        {
            @Html.Partial("ShowPost", post)
            <hr />
        }
    </div>

    <div class="mdl-tabs__panel" id="members-tab">
        <h3>Members:</h3>
        <div class="my-groups-container">
@* TODO: Replace with user Card *@
            @foreach (var user in Model.Members)
            {
                <h5>@user.FirstName @user.LastName</h5>
            }
        </div>
    </div>

</div>





