@model SocialPlatform.Models.ApplicationUser

@{
	ViewBag.Title = "Index";
}

<h1>@ViewBag.Message</h1>
<h2>News Feed <a class="btn btn-primary" href="/Posts/New/@Model.WallId">Creeaza Post</a></h2>
<br />
<br />

@foreach (SocialPlatform.Models.Post post in ViewBag.Posts)
{
	<div class="panel panel-default">

		@Html.Partial("ShowPost", post)

		<div class="panel-footer">
			<a class=" btn btn-sm btn btn-success" href="/Posts/Show/@post.PostId">Afisare post</a>
		</div>
	</div>
}

