@model SocialPlatform.Models.Post
@using SocialPlatform.Models
@using Microsoft.AspNet.Identity

@{
    var db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();
}

<br />
<br />

<div class="panel panel-default">
    @Html.Partial("ShowPost", Model)
</div>

<form method="post" action="/Comments/New/@Model.PostId">
    <label>Adauga un Comentariu</label>
    <br />
    <textarea class="form-control" name="Content"></textarea>
    @Html.ValidationMessage("Content", "", new { @class = "text-danger" })
    <br />
    <button class="btn btn-success " type="submit">Adauga comentariu</button>
</form>
<hr />

<div class="demo-list-three mdl-list container">
    @if (ViewBag.CommentNr > 0)
    {
        int poz = ViewBag.CommentNr;
        var comm = Model.Comments.ElementAt(poz - 1);
        <div class="container-item">
            @Html.Partial("ShowComment", comm)
        </div>
    }
</div>

<script>
    $('.container').infiniteScroll({
        path: function () {
            var page = this.loadCount + 1
            return '/Posts/Show/@Model.PostId?frommaybe=' + page;
        },
        append: '.container-item',
        status: '.page-load-status',
        prefill: true,
        debug: true,
        scrollThreshold: 2000,
        elementScroll: '.mdl-layout__content',
    });
</script>
