@using SocialPlatform.Models
@model Group

@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.Message</h1>

<h2>My Groups</h2>

<a class="btn btn-primary" href="/Groups/New">Create new group</a>
<br />
<br />

<div class="container">
    @if (Model != null)
    {
        <div class="panel panel-default container-item">
            <h3>Group name: @Model.Name</h3>
            <h4>User count: @Model.Members.Count()</h4>
            <div class="panel-footer">
                <a class=" btn btn-sm btn btn-success"
                   href="/Groups/Show/@Model.GroupId">View Group</a>
            </div>
        </div>
    }
</div>

<script>
    $('.container').infiniteScroll({
        path: function () {
            var page = this.loadCount + 1
            return '/Groups/My?frommaybe=' + page;
        },
        append: '.container-item',
        status: '.page-load-status',
        prefill: true,
        debug: true,
        scrollThreshold: 2000,
        elementScroll: '.mdl-layout__content',
    });
</script>

