@*@model SocialPlatform.Models.FriendRequest*@

@{
    ViewBag.Title = "FriendRequest";
}

<h2>FriendRequest</h2>


@using (Html.BeginForm(actionName: "AddFriendRequest", controllerName: "Users"))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.Label("otherID", "ID-ul prietenului")
    <br />
    @Html.TextBox("otherID", null, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(m => m.OtherId, null, new { @class = "text-danger" })*@
    <br />
    <br />

    <button class="btn btn-sm btn-success" type="submit">Trimite cerere</button>
}