@model SocialPlatform.Models.ApplicationUser

@{
	ViewBag.Title = "Home";
}

<h2>Hello @Model.FirstName @Model.LastName!</h2>

<h3>Available options:</h3>

<a class="btn btn-sm btn-success" href="/Admin/Index">Access Developer Page</a>

<a class="btn btn-sm btn-success" href=@Url.RouteUrl("AddFriendRequest")>Send Friend Request</a>

<a class="btn btn-sm btn-success" href="/Posts/New/@Model.WallId">Create A Post</a>

<a class="btn btn-sm btn-success" href="/Posts/Index">News Feed</a>

<a class="btn btn-sm btn-success" href=@Url.RouteUrl("SentFriendRequests")>View Sent Friend Requests</a>

<a class="btn btn-sm btn-success" href=@Url.RouteUrl("ReceivedFriendRequests")>View Received Friend Requests</a>

<a class="btn btn-sm btn-success" href="/Users/Friends">View Friend</a>

<a class="btn btn-sm btn-success" href="/Groups">View my Groups</a>

<a class="btn btn-sm btn-success" href="/Groups/New">Create new Group</a>

<br />
