@using SocialPlatform.Models

@model ApplicationUser

@{
    ViewBag.Title = "Sent Friend Requests";
}


<h3 style="color: slategray">Received Friend Requests</h3>
<br />

<div class="my-groups-container">
    @foreach (ApplicationUser user in Model.ReceivedFriendRequests)
    {
        @Html.Partial("UserCard", user)
    }
</div>
