@using SocialPlatform.Models
@model Group
@using System.Data.Entity
@using Microsoft.AspNet.Identity;

@{ 
    var userId = User.Identity.GetUserId();
}

<div class="group-card mdl-card mdl-shadow--2dp container-item">
    <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">@Model.Name</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Members: @Model.Members.Count().ToString() <br>
    </div>

    <div class="mdl-card__actions mdl-card--border" style="display: flex; justify-content: space-between">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
           href="/Groups/Show/@Model.GroupId">
            View Group
        </a>

        @if (Model.Members.Count(mem => mem.Id == userId) > 0)
        {
            <form action="/Groups/Leave/@Model.GroupId" method="POST">
                <button style="float: right" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect"
                        type="submit">
                    Leave
                </button>
            </form>
        }
        else
        {
            <form action="/Groups/Join/@Model.GroupId" method="POST">
                <button style="float: right;color:forestgreen;" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect"
                        type="submit">
                    Join
                </button>
            </form>
        }
    </div>

</div>
