@model SocialPlatform.Models.Post

<div class="panel-heading">@Model.Title</div>
<div class="panel-body">
	Continut post: <strong>@Model.Content</strong>
	<br />
	<span class="label label-success">@Model.CreatedAt</span>
	<br />
	<p>Created by @Model.User.FirstName</p>
</div>
